[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = git@nas.lan:naka123/simple-knn.git
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
[submodule "submodules/diff-gaussian-rasterization-w-depth"]
	path = submodules/diff-gaussian-rasterization-w-depth
	url = https://github.com/JonathonLuiten/diff-gaussian-rasterization-w-depth.git
[submodule "submodules/diff-gaussian-rasterization-ashawkey"]
	path = submodules/diff-gaussian-rasterization-ashawkey
	url = https://github.com/ashawkey/diff-gaussian-rasterization
